{% extends "main.twig" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">

    <div class="col-lg-2">
        <h1>WebShop</h1>
        {% if userid == NULL %}
            <h4 class="my-4">Демо режим</h4>
            <h6 class="my-4">Для оформления заказа</h6>
            <h6 class="my-4">Войдите под своим аккаунтом</h6>
        {% else %}
            <h4 class="my-4">Обычный режим</h4>
            <h6 class="my-4">Обычный аккаунт</h6>
        {% endif %}
    </div>
    <div class="col-lg-10 d-flex-column justify-content-center text-center">
        <h1>Корзина</h1>
        <div style="clear:both"></div>
        <br />
        {% set sum = 0 %}
        {% if products is empty %}

        <tr>
            <td colspan="5" align="center" class="my-4">В корзине пока нет товаров.</td>
        </tr>

        {% elseif num > 1 %}
        <h3>Подробная информация</h3>
        <div class="table-responsive">
            <div align="right">
                <a href="index.php?class=product&method=clearCart&user={{ user }}"><b>Очистить корзину</b></a>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th width="30%">Название</th>
                    <th width="10%" align="center">Количество</th>
                    <th width="15%" align="center">Цена</th>
                    <th width="25%" align="center">Всего</th>
                    <th width="5%" align="center">Добавить</th>
                    <th width="5%" align="center">Удалить</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td>{{product.good_title}}</td>
                    <td align="center">{{product.amount}}</td>
                    <td align="center">{{product.price}} руб.</td>
                    <td align="center">{{ product.amount * product.price }} руб.</td>
                    <td align="center"><a href="index.php?class=product&method=addToCart&id={{ product.id_good }}&user={{ user }}"><span class="btn btn-warning mb-2 click">+</span></a></td>
                    <td align="center"><a href="index.php?class=product&method=deleteFromCart&id={{ product.id_good }}&user={{ user }}"><span class="btn btn-warning mb-2 click">-</span></a></td>
                </tr>
                    {% set sum = sum + product.amount * product.price %}
                {% endfor %}
                <tr>
                    <td colspan="3" align="right">Всего</td>
                    <td align="center">{{sum}} руб.</td>
                    <td></td>
                </tr>
            </table>
            {% if userid == NULL %}
                <p>Для оформления заказа необходимо зарегистрироваться</p>
                <a href="index.php?class=user&method=login">Уже зарегистрированы ? Войдите в систему.</a>
            {% else %}
            <form action="index.php?class=product&method=viewOrder&user={{ user }}" method="post" name="cart">
                <div class="form-group mt-4 mb-0">
                    <input type="submit" class="btn btn-warning btn-block click" name="order" value="Оформить заказ"/>
                </div>
                <br>
            </form>
            {% endif %}
        </div>
            {% else %}
                <h3>Подробная информация</h3>
                <div class="table-responsive">
                    <div align="right">
                        <a href="index.php?class=product&method=clearCart&user={{user}}"><b>Очистить корзину</b></a>
                    </div>

                    <table class="table table-bordered">
                        <tr>
                            <th width="30%">Название</th>
                            <th width="10%" align="center">Количество</th>
                            <th width="15%" align="center">Цена</th>
                            <th width="25%" align="center">Всего</th>
                            <th width="5%" align="center">Добавить</th>
                            <th width="5%" align="center">Удалить</th>
                        </tr>
                            <tr>
                                <td>{{products[0].good_title}}</td>
                                <td align="center">{{products[0].amount}}</td>
                                <td align="center">{{products[0].price}} руб.</td>
                                <td align="center">{{products[0].amount * products[0].price}} руб.</td>
                                <td align="center"><a href="index.php?class=product&method=addToCart&id={{products[0].id_good }}&user={{user}}"><span class="btn btn-warning mb-2 click">+</span></a></td>
                                <td align="center"><a href="index.php?class=product&method=deleteFromCart&id={{products[0].id_good }}&user={{user}}"><span class="btn btn-warning mb-2 click">-</span></a></td>
                            </tr>
                        <tr>
                            <td colspan="3" align="right">Всего</td>
                            <td align="center">{{products[0].amount * products[0].price}} руб.</td>
                            <td></td>
                        </tr>
                    </table>
                    {% if userid == NULL %}
                    <p>Для оформления заказа необходимо зарегистрироваться</p>
                    <a href="index.php?class=user&method=login">Уже зарегистрированы ? Войдите в систему.</a>
                    {% else %}
                    <form action="index.php?class=product&method=viewOrder&user={{user}}" method="post" name="cart">
                        <div class="form-group mt-4 mb-0">
                            <input type="submit" class="btn btn-warning btn-block click" name="order" value="Оформить заказ"/>
                        </div>
                        <br>
                    </form>
                    {% endif %}
                </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}



